body
{
    background-color: #E6E6E6;
}
h1
{
    color: #E86681;
}
#logo
{
    color: #0084E6;
    margin: 10px;
}
#welcome
{
    text-align: center;
    margin-top: 70px;
}
#add
{
    background-color: #E86681;
    color: black;
    border: none;
}
#login
{
    margin: 80px 550px 0 550px;
    padding: 20px;
    border: 2px solid #E86681;
    border-radius: 10px;
}
#task
{
    margin: 80px 550px 0 550px;
    padding: 20px;
    border: 2px solid #E86681;
    border-radius: 10px;
}